<%- include('partials/header') -%>

  <div class="container">
    <section class="pendingOrders">
      <h2>Pending Orders</h2>
      <div class="row justify-content-center mt-5">
        <ul class="row list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <% if(posts[i].completed === false) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                  Go to this order
                </a>
                <%= posts[i].Name%>
                  :::The id for this order is :::
                  <%= posts[i]._id%>"



                    <form action="/post/likePost/<%= posts[i]._id%>?_method=PUT" method="POST" class="col-1">

                      <button class="btn btn-primary" type="submit"> Complete</button>
                    </form>
                    <form action="/post/deletePost/<%= posts[i]._id%>?_method=DELETE" method="POST" class="col-1">

                      <button class="btn btn-primary " type="submit">Cancel</button>
                    </form>

              </li>
              <% } %>
                <% } %>
        </ul>
      </div>
    </section>
    <section class="completedOrders">
      <h2>Completed Orders</h2>
      <div class="row justify-content-center mt-5">
        <ul class="row list-unstyled">
          <% for(var i=0; i<posts.length; i++) {%>
            <% if(posts[i].completed === true) {%>
              <li class="col-6 justify-content-between mt-5">
                <a href="/post/<%= posts[i]._id%>">
                  Go to this order
                </a>
                <%= posts[i].Name%>
                  :::The id for this order is :::
                  <%= posts[i]._id%>"




                    <form action="/post/deletePost/<%= posts[i]._id%>?_method=DELETE" method="POST" class="col-1">

                      <button class="btn btn-primary " type="submit">Clear</button>
                    </form>

              </li>
              <% } %>
                <% } %>
        </ul>
      </div>
    </section>

  </div>
  <%- include('partials/footer') -%>